<div class="container content">
  <div class="page-header">
    <h1>Sea battle game based on Angular2 and Firebase</h1>
  </div>

  <p>This is a multiplayer game, that allows user to authenticate, view games history and mainly play with other users.</p>
  <p>User with whom one will play is selected automatically from queue.</p>
  <!--<div class="page-header">
    <h1>Creating a list</h1>
  </div>

  <form class="form-inline" (submit)="addName()">
    <div class="form-group">
      <label for="user_action">User action</label>

      <input type="text" class="form-control" id="user_action" placeholder="Input action" [(ngModel)]="newName" />
    </div>

    <button type="submit" class="btn btn-default">Add</button>
  </form>

  <ul>
    <li *ngFor="let item of items | async">{{item.letter}} : {{item.number}}</li>
  </ul>-->
</div>