<div class="container content">
  <p>This is a multiplayer game, that allows user to authenticate, view games history and mainly play with other users.</p>
  <p>User with whom one will play is selected automatically from queue.</p>

  <h2>Features</h2>
  <ul>
    <li>Authentication</li>
    <li>Games/Rounds history</li>
    <li>PvP</li>
  </ul>

  <h2>ToDo</h2>
  <ul>
    <li>Authentication forms validaton</li>
    <li>Guards for routes, that are available for non/authenticated users and vise versa</li>
  </ul>
</div>